extends ../base/layout


block variables
  - var title = "Курсы - тестовая страница"
  - var hasHeader = true
  - var headerMod = ""
  - var currentPage = "main"
  - var isMainPage = true
  - var content = 'Тестовое задание. Сверстать пример макета курсов'

block main
  main

