@font-face {
  font-family: "PT Root UI";
  src: url("../fonts/PTRootUI-Bold.woff2"), url("../fonts/PTRootUI-Bold.woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Root UI";
  src: url("../fonts/PTRootUI-Medium.woff2"), url("../fonts/PTRootUI-Medium.woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
