-
  var accessories = [
    {
      text: "Обширный ассортимент чехлов лля каждой модели. Цветовая гамма, отличное качество, премиальные материалы и дополнительные возможности призваны удовлетворить даже самый притязательный вкус.",
      image: "cases",
      width: 222,
      height: 115,
      format: "png",
      alt: "Пример чехлов для телефонов Samsung"
    },
    {
      text: "Обширный ассортимент чехлов лля каждой модели. Цветовая гамма, отличное качество, премиальные материалы и дополнительные возможности призваны удовлетворить даже самый притязательный вкус.",
      image: "power",
      width: 222,
      height: 115,
      format: "png",
      alt: "Пример зарядок для телефонов и часов Samsung"
    },
    {
      text: "Galaxy S10+ в режиме Dex поддерживает широкоформатные мониторы. Мощный смартфон превращается в мощный десктоп.",
    },
    {
      text: "Смартфон S10 сразу укомплектован защитной пленкой.",
    }
  ]
