-
  var designList = [
    {
      text: "Абсолютно новый Infinity-O экран — на передней стороне смартфона нет ничего, кроме огромного экрана и фронтальной камеры.",
      image: "banner-galaxy",
      format: "png",
      width: "192",
      height: "113",
      alt: "Пример Infinity-O экрана"
    },
    {
      text: "Для любителей роскоши, модель S10+ будет выпускаться в керамическом корпусе черного и белого цветов.",
      image: "samsung",
      format: "png",
      width: "154",
      height: "180",
      alt: "Пример керамического корпуса"
    },
    {
      text: "Смартфоны доступны в 4х стильных цветах: Перламутр, Аквамарин, Оникс и Цитрус (для S10e).",
      image: "colors",
      format: "png",
      width: "60",
      height: "60",
      alt: "Примеры цветов новых телефонов",
      small: true
    },
    {
      text: "В моделях S10 и S10+ установлены защитные стекла нового поколения – Gorilla Glass 6.",
      image: "glass",
      format: "png",
      width: "60",
      height: "60",
      alt: "Эмблема стекол Gorilla Glass 6",
      small: true
    },
  ]
