-
  var features = [
    {
      text: "Благодаря приложению Smart Switch можно перенести информацию со старого смартфона на новый.",
      image: "smart",
      format: "png",
      alt: "Иконка приложения Smart Switch"
    },
    {
      text: "Приложение Samsung Health помогает контролировать физическую активность и вести дневник питания.",
      image: "health",
      format: "png",
      alt: "Иконка приложения Samsung Health"
    },
    {
      text: "Интеллектуальный помощник Bixby обеспечит быстрый доступ к переводчику, поиску в Интернете, покупкам и многому другому.",
      image: "bixby",
      format: "png",
      alt: "Иконка приложения Bixby"
    },
    {
      text: "Приложение Samsung Pay дает возможность оплачивать свои покупки при помощи смартфона.",
      image: "pay",
      format: "png",
      alt: "Иконка приложения Samsung Pay"
    },
    {
      text: "Благодаря приложению Smart Things можно управлять всеми смарт-устройствами дома.",
      image: "things",
      format: "svg",
      alt: "Иконка приложения Smart Things"
    },
  ]
