-
  var videoFeatures = [
    {
      text: "Отличное качество съемки новых поколениесмартфонов Samsung позволит создать и смотреть праздники, семейные торжества и памятные моменты на огромном экране, с яркими, живыми цветами и прекрасной детализацией.",
    },
    {
      text: "Дополнительная система стабилизации сделает видеоролики плавными и красивыми.",
    },
    {
      text: "Сверхзамедленная съемка (960 кадров в секунду) теперь в 2 раза дольше. Камера в S10 способна распознать  самое стремительное движение, такое как языки пламени, брызги воды, дым из под колес спорткара.",
    }
  ]
